@import url(//db.onlinewebfonts.com/c/640850c0965fa5449af39df95c9970de?family=Hans+Kendrick+V4);

@font-face {font-family: "Hans Kendrick V4"; src: url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.eot"); src: url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.woff") format("woff"), url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.svg#Hans Kendrick V4") format("svg"); }

body {
    background: #e2e7ec;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: "Hans Kendrick V4";
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

[class^="col-"]{
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper{
    min-width: 1110px;
    max-width: 1110px;
    margin: 90px auto;
    display: flex;
}

.wrapper-col-8{
    width: 740px;
    height: 540px;
    background: url(../images/car-picture.png);
    display: flex;
    align-items: flex-end;


}

.text-wrapper{
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 40px;
    color:white;
    font-size: 40px;
    width: 100%;
    background: linear-gradient(-150deg, transparent, black);
    padding-top: 0;
}

.wrapper-col-4{
    width: 360px;
    height: 540px;
    padding: 0;
    background-color: white;
}



.text-wrapper .car-text{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper .date{
    min-height: 20px;
    font-size: 13px;
    color: #898989;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    
}

.wrapper-col-4 .description{
    display: inline-block;
    font-size: 22px;
    color: #1d1d1d;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 31px;
    min-height: 156px;

}

.wrapper-col-4 .author{
    display: block;
    position: relative;
}

.wrapper-col-4 .description-block{
    min-height: 289px;
    display: flex;
    padding: 25px 28px;
    align-items: flex-start;
    flex-direction: column;
}


body > span{
    display: block;
    text-align: center;
    margin: -21px 0 102px 0;
    font-size: 13px;
    color: #898989;
    min-width: 1140px;
}